body{
    background: url('../img/lampada.png') 95% 30% fixed no-repeat,url('../img/bg_fundo.png') fixed no-repeat;
    background-size: 15%, cover;

}



.btn-tecnicas{
    background-color: transparent;
}

.footer{
 /*   height: 150px;
    width: 100%; */
    position: fixed;
    bottom: 0;
    /* background-color: blue; */
    opacity: 1;
    max-height: 50%;
width: 100%;
z-index: 2;
pointer-events: none;


}

.bordas_sombra{
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.2));  
}

